
/ {
    chosen {
        zmk,kscan = &kscan1;
        zmk,keyboard = &keymap0;
    };

    kscan1: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_RIGHT";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;

        diode-direction = "COL2ROW"; // TODO: set to actual

        row-gpios = <
            &pro_micro_d2  GPIO_ACTIVE_LOW  /* R0 */
            &pro_micro_d3  GPIO_ACTIVE_LOW  /* R1 */
            &pro_micro_d4  GPIO_ACTIVE_LOW  /* R2 */
            &pro_micro_d5  GPIO_ACTIVE_LOW  /* R3 (2-key row) */
            &pro_micro_d6  GPIO_ACTIVE_LOW  /* R4 (thumb row) */
        >;

        col-gpios = <
            &pro_micro_d7  GPIO_ACTIVE_LOW  /* C0 */
            &pro_micro_d8  GPIO_ACTIVE_LOW  /* C1 */
            &pro_micro_d9  GPIO_ACTIVE_LOW  /* C2 */
            &pro_micro_d10 GPIO_ACTIVE_LOW  /* C3 */
            &pro_micro_d14 GPIO_ACTIVE_LOW  /* C4 */
            &pro_micro_d16 GPIO_ACTIVE_LOW  /* C5 */
        >;
    };
};

/ {
    keymap0: keymap {
        compatible = "zmk,keymap";
    };
};
